.skills-card-img{
    width:150px
}
.skill-wrapper{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.menu{
    display:flex;
}
.card{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    margin: auto;

}
.project-card{
align-items: center;
padding: 25px;
margin: 20px;
border: 1px solid black;
}
.project-description{
    height: 15%
}
.project-image{
    width: 100%;
}